body {
	font-family: Arial, sant-serif;
}

nav {
	width: 100vw;
	height: 60px;
	background: #344051;
}

.logo {
	color: #fff;
	font-size: 30px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
	padding-right: 432px;
}

.menu {
	float: left;

}

.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.Hero {
	width: 100%;
	height: 100%;
	background: url(../img/bg-1.jpg) center/cover no-repeat;
}
.title_cont {
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title_cont h1 {
	font-size: 60px;
	font-weight: bold;
}
.title_cont h4 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
	color: #79818d;
}
.title_cont button {
	height: 40px;
	text-align: center;
	border: 2px solid #79818d;
	background: none;
	border-radius: 5px;
	color: #79818d;
	font-size: 13px;
	padding: 0px 20px;
	margin: 40px 10px 0px 0px;
}

.About {
	width: 100vw;
	height: auto;
	background: #fff;
	text-align: center;
	padding: 80px 0;
}

.About h2 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2c384a;	
}
.line {
	width: 80px;
	height: 2px;
	background: #d17700;
	margin: 30px auto 50px;
}
.About p {
	font-size: 18px;
	font-weight: normal;
	color: #3f495a;
	width: 50%;
	margin: 30px auto 20px auto;
}
.About button {
	height: 40px;
	text-align: center;
	border: 2px solid #79818d;
	background: none;
	border-radius: 5px;
	color: #79818d;
	font-size: 13px;
	padding: 0px 20px;
	margin: 40px 10px 0px 0px;
}

.Skills {
	width: 100vw;
	height: 450px;
	background: url(../img/bg-2.jpg) center/cover no-repeat;
	padding: 80px 0px;
	text-align: center;
}
.Skills h2 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2c384a;
	text-align: center;
}
.line {
	width: 80px;
	height: 2px;
	background: #d17700;
	margin: 30px auto 50px;
}
.skill-box {
	float: left;
	width: 287px;
	text-align: center;
	padding-bottom: 80px;
}
.skill-box-1 {
	float: left;
	width: 287px;
	text-align: center;
	margin-left: 388px;
	padding-bottom: 80px;
}
.skill-box h3 {
	font-size: 18px;
	font-weight: bold;
	color: #d17700;
	text-align: center;
	margin: 20px 20px;
}
.skill-box-1 h3 {
	font-size: 18px;
	font-weight: bold;
	color: #d17700;
	text-align: center;
	margin: 20px 20px;
}
.Skills p {
	font-size: 15px;
	font-weight: normal;
	color: #000;
	width: 90%;
	}

.Cases {
	width: 100vw;
	height: 1200px;
	background: #fff;
	padding: 80px 0px;
	text-align: center;
}
.Cases h2 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2c384a;
	text-align: center;
}
.line {
	width: 80px;
	height: 2px;
	background: #d17700;
	margin: 30px auto 50px;
}
.Cases p {
	font-size: 15px;
	font-weight: normal;
	color: #000;
	width: 100%;
}
.cases_img-box {
	margin: 30px 0px;
}
.client-name_box {
	width: 287px;
	height: 206px;
	margin-left: 388px;
	float: left;
	text-align: left;
}
.client-name_box button {
	height: 40px;
	text-align: center;
	border: 2px solid #63b5ae;
	background: #63b5ae;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
	padding: 0px 20px;
}
.project-description_box {
	width: 1500px;
	height: 206px;
}
.project-description_box p {
	font-size: 15px;
	font-weight: normal;
	color: #000;
	text-align: left;
}
